@font-face {
  font-family: font;
  src: url("../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}

.flex {
  display: flex;
  gap: 0rem;
  padding: 0.75rem;
  height: 100svh;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #566d7e;
  font-family: font, sans-serif;
  box-shadow: 0px 5px 10px rgb(83, 83, 83);
}

h1 {
  margin-bottom: 2rem;
  color: #f8f0e3;
  white-space: nowrap;
}

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f8f0e3;
}
